@import '~codemirror/lib/codemirror.css';

body {
  margin: 0;
}

#app {
  height: 100vh;
}

.CodeMirror {
  height: 100%;
  
  .mark {
    color: #3f51b5;
    cursor: pointer;
    font-size: 0.6rem;
    line-height: inherit;
    padding-right: 2px;
    vertical-align: top;
    
    &:hover {
      color: #7986cb;
    }
  }
  .selected {
    background-color: #fff59d;
  }
}